---
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Board from "@/components/Board.astro";
import { SITE } from "@/config";

// Redirect to 404 page if `showArchives` config is false
if (!SITE.showArchives) {
  return Astro.redirect("/404");
}
---

<Layout title={`Board | ${SITE.title}`}>
<Main pageTitle="掲示板" pageDesc="">
  <Board />
</Main>
  <Footer />
</Layout>
