---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class:list={["pt-8 pb-6", "border-b border-border"]}>
      <h1 class="my-4 inline-block text-xl font-bold sm:my-8 sm:text-3xl">
        т░ЈТ│Ѕт╣ИтцфсЂ«сЃџсЃ╝сѓИ
      </h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="inline-block"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <IconRss
          width={20}
          height={20}
          class="scale-125 stroke-accent stroke-3 rtl:-rotate-90"
        />
        <span class="sr-only">RSS Feed</span>
      </a>

      <div class="relative">
        <p>
      сЃЋсЃЕсЃ│сѓ╣ТќЄтГдсѓњуаћуЕХсЂЎсѓІтцДтГджЎбућЪсЂДсЂЎсђѓ

      уггСИђсЂФсЂ»уаћуЕХсЃќсЃГсѓ░сЂесЂёсЂєсЂ«сЂїтљЇуЏ«сЂДсЂЎсЂїсђЂсЂЪсЂасЂ«ТЌЦУеўсЂ«сѓѕсЂєсЂфсѓѓсЂ«сѓѓсЂѓсѓісЂЙсЂЎсђѓ

      ТЌЦсђЁсЂ«тГдсЂ│сЂ«сѓбсѓдсЃѕсЃЌсЃЃсЃѕсѓёУФќуљєуџёсЂфТќЄуФасѓњТЏИсЂЈу┐њТЁБсѓњсЂцсЂЉсѓІсЂЊсЂесЂїсђЂсЂѓсѓІТёЈтЉ│сЂДСИГт┐ЃуџёсЂфуЏ«уџёсЂДсЂЎсђѓ

      т░ѓжќђуџёсЂфУеўУ┐░сЂ»сђЂСИђУѕгсЂ«тй╣сЂФсѓѓуФІсЂцсѓѕсЂєсЂфтєЁт«╣сЂФсЂЌсЂдсЂёсЂЇсЂЪсЂёсЂДсЂЎсђѓ
      </p>
    <div class="text-right">
      <a 
        href="/about/" 
        class="text-sm text-gray-500 hover:text-accent transition-colors duration-200"
      >
        УЕ│сЂЌсЂЈ <span class="inline-block translate-y-[1px] hover:translate-y-[5px]">Рєњ</span>
      </a>
    </div>
  </div>
      {
        // only display if at least one social link is enabled
        SOCIALS.length > 0 && (
          <div class="mt-4 flex max-sm:flex-col sm:items-center">
            <div class="me-2 mb-1 whitespace-nowrap sm:mb-0">SNS:</div>
            <Socials />
          </div>
        )
      }
    </section>

    {
      featuredPosts.length > 0 && (
        <section
          id="featured"
          class:list={[
            "pt-12 pb-6",
            { "border-b border-border": recentPosts.length > 0 },
          ]}
        >
          <h2 class="text-2xl font-semibold tracking-wide">сЃћсЃ│сЂЕсѓЂУеўС║І</h2>
          <ul>
            {featuredPosts.map(data => (
              <Card variant="h3" {...data} />
            ))}
          </ul>
        </section>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">сЂЋсЂёсЂЇсѓЊсЂ«УеўС║І</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        сЂЎсЂ╣сЂдсЂ«УеўС║І
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
    <div class="my-8 text-center">
      <LinkButton href="/archives/">
        сѓбсЃ╝сѓФсѓцсЃќ
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
